/* inspired and learnt from  https://jsfiddle.net/MadLittleMods/LmYay/ */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0; }

body {
  background: white;
  color: black;
  font-size: 14px;
  font-family: 'Consolas', 'Monaco', 'Bitstream Vera Sans Mono', monospace; }

.has-background-pink {
  background-color: pink; }

article {
  height: 100%; }
  article section {
    background: red;
    height: 100%;
    display: flex;
    overflow-y: auto;
    flex-direction: column;
      -webkit-flex-direction: column;
      
  }

.section {
  background: red; }

section {
  background: red; }


.container {
  width: 100%;
  height: 100%;
  display: flex;
    display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;

  flex-direction: column;
  justify-content: flex-start;
  /* align items in Main Axis */
  align-items: stretch;
  /* align items in Cross Axis */
  align-content: stretch;
  /* Extra space in Cross Axis */ }

.shadow-round {
  border-radius: 5px;
  box-shadow: 3px 3px 3px grey; }

.no-border {
  border: none; }

.flex-item {
  padding: 8px; }

.flex-item.header {
  background: darkolivegreen; }

.flex-item.footer {
  background: darkolivegreen; }

.flex-item-grow {
  flex: 1; }

.left-column {
  margin: 3px;
  width: 200px;
    min-height: 0;
    overflow: hidden;
}

.flex-min-height{
    min-height: 0;
}

.right-column{
  margin: 3px;
}

.flex-item-strict-height {
  height: auto; }

.fill-area-col {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  /* align items in Main Axis */
  align-items: stretch;
  /* align items in Cross Axis */
  align-content: stretch;
  /* Extra space in Cross Axis */ }

.fill-area-row {
  display: flex;
  flex-direction: column;
    min-height: 0;
  justify-content: flex-start;
  /* align items in Main Axis */
  align-items: stretch;
  /* align items in Cross Axis */
  align-content: stretch;
  /* Extra space in Cross Axis */ }

.fill-area-content {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  border-color: black;
  border-width: 1px;
  overflow: auto; }

.image-px-size {
  width: 500px; }

/* calc counts with img margin and border */
.croppedpic, .chosenpic {
  width: 100%; }

.smallpic {
  width: 100px; }

/* preview of thumbnails */
#preview {
  z-index: 2;
  position: absolute;
  border: 3px solid #ccc;
  background: #333;
  padding: 5px;
  display: none;
  color: #fff;
  box-shadow: 4px 4px 3px #677382; }

/* cropit functionality */
.cropit-preview {
  /* You can specify preview size in CSS */
  /* width: 400px;
  height: 250px;*/ }

.cropit-preview-image-container {
  cursor: move; }

.image-size-label {
  margin-top: 10px; }

input, .export {
  display: block; }

button {
  margin-top: 10px; }

.centre {
  margin-left: auto;
  margin-right: auto; }

/*
.container {
    max-width: 960px;
    margin: 20px auto;
}*/
img {
  max-width: 100%; }

.preview {
  overflow: hidden;
  width: 100px; }

.col {
  width: 100%;
  margin: 0 auto; }

#image {
  max-height: 50%; }

.crop_preview {
  margin: 0 auto; }

.overlay-container {
  position: relative;
  width: auto;
  height: auto; }

.main-image {
  width: 100%;
  height: auto; }

.col-wid {
  max-width: 800px;
  height: auto; }

.overlay-image {
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  height: auto; }

/*# sourceMappingURL=flex-new-design.css.map */

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.light_blue {
    color: #c4e3f3;
}