<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/flex-new-design.css') }}">
        <title>{{ title }} - MIDI DB</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        {% block head %}{% endblock %}
    </head>
    <body>
        <div class="container">
            {% block content %}{% endblock %}
            <footer style="background-color: black">
                <h4 style="text-align: center; color: white" class="center-block">Semestral project</h4>
                <p style="text-align: center; color: white" class="white-text" >Charles University</p>
                <p style="text-align: center; color: white; font-size: smaller">Faculty of Mathematics and Physics</p>
            </footer>
        </div>
    </body>
</html>