
<div class="fill-area-row left-column no-border">
    <div class="fill-area-content flex-item-strict-height no-border">
        <h2 style="text-align: center">Choose a picture</h2>
    </div>
    <div class="flex-item fill-area-content flex-item-grow no-border flex-min-height">
        <!-- list of pictures_dict with thumbnails -->
        {% for picture in pictures_list %}
        <div class="flex-item fill-area-col shadow-round">
            <div class="flex-item-grow flex-item smallpic">
                <a href="{{ url_for('static', filename=picture.imagePath) }}" class="preview" title="{{ picture.name }}">
                    <img src="{{ url_for('static', filename=picture.thumbnailPath) }}"/>
                </a>
            </div>
            <div class="flex-item-grow flex-item">
                <a href="/display/{{ picture.name }}">
                    <p>{{ picture.name }}</p>
                </a>

            </div>
        </div>
        {% endfor %}
    </div>
</div>