<!--
Cropping part of the page.
Include as following (without the backslash): {\% include "crop_page.html" %\}
-->
<div class="flex-item flex-item-grow fill-area-content right-column">

    <div class="flex-item">
        <h1>Crop the chosen picture</h1>
        <p>{{ requested_picture.name }}</p>
        <div id="crop-warning" class="alert alert-warning alert-dismissible" role="alert">
            <p><strong>Warning!</strong> Please, be more precise in cropping.</p>
            <!-- Trigger/Open The Modal -->
            <a href="#" id="myBtn">How to crop</a>
        </div>

        <!-- The Modal -->
        <div id="myModal" class="modal">
          <!-- Modal content -->
          <div class="modal-content">
            <span class="close">&times;</span>
              <h2>How to crop?</h2>
              <p>You have two options how to crop:</p>
              <ol>
                  <li>Mark only notes on a single line.</li>
                  <li>Mark more lines. In this case, all notes on all of the lines must be marked.</li>
              </ol>
          </div>
        </div>

        <div class="col-wid" id="col-wid">
            <img id="image" src="{{ url_for('static', filename=requested_picture.imagePath) }}" alt="Picture">
        </div>
        </br>
        <!--
        <div class="">
            <div class="crop_preview"></div>
        </div>
        -->
        <div class="col text-center">
            <button onclick="sendParamsButton(this,'{{ requested_picture.name }}' )" class="btn btn-primary">SEARCH THE CROPPED PART</button>
        </div>
    </div>
</div>

<script>
// Get the modal
var modal = document.getElementById('myModal');

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal
btn.onclick = function() {
    modal.style.display = "block";
};

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
    modal.style.display = "none";
};

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
};

document.getElementById("crop-warning").style.display = warningVisible;
console.log(warningVisible)
</script>
