{% extends "base.html" %}

<!--
Page with found results:
In the top: searched image
    -- with details
Bottom: list of found images
    -- with search info and other details
-->

{% block head %}

<script src="{{ url_for('static', filename='js/main.js') }}"></script>
<script>
    // variables from flask to javascript variables
    var pathToImage = "{{ url_for('static', filename=requested_picture.imagePath) }}";
    var warningVisible = "{{ warning_visible }}";
    var imageBaseName = "{{ requested_picture.name }}";
    console.log(warningVisible);
</script>

{% endblock %}

{% block content %}

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-brand" style="color: white;" href="#">MUSCIMA database demonstration</p>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="javascript:void(0)" style="color: white;" onclick="homeFunction()">Home</a></li>
            <li><a href="javascript:void(0)" onclick="goBackToCropping(imageBaseName)">Back</a></li>
        </ul>
    </div>
</nav>

<div class="row justify-content-lg-center">
    <div class="col-12">
        <div class="flex-item flex-item-grow fill-area-content">
            <h2>Results found for {{ requested_picture.name }}</h2>
            <div class="overlay-container">
                <img class="main-image" src="{{ url_for('static', filename=requested_picture.imagePath) }}"/>
                <img class="overlay-image" src="{{ url_for('static', filename=image_file_path) }}" />
            </div>
        </div>
        <div class="flex-item fill-area-content flex-item-grow">
            {% for i in range(0,results|length) %}
            <div style="border: 3px solid black; padding: 10px; margin: 3px; border-radius: 5px">
                <p style="margin: auto; text-align: center">name: {{ results[i].name }}</p>
                <div class="overlay-container" style="width: 80%; margin: auto; ">
                    <img class="main-image" src="{{ url_for('static', filename=results[i].imagePath) }}"/>
                    <img class="overlay-image" src="{{ url_for('static', filename=results[i].cropped_path) }}" />
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}