{% extends "base.html" %}

{% block head %}

<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
<link  href="{{ url_for('static', filename='cropper/dist/cropper.css') }}" rel="stylesheet">
<script src="{{ url_for('static', filename='cropper/dist/cropper.js') }}"></script>
<script>
    // variables from flask to javascript variables
    var pathToImage = "{{ url_for('static', filename=requested_picture.imagePath) }}";
    var warningVisible = "{{ warning_visible }}";
    console.log(warningVisible);
</script>

{% endblock %}


{% block content %}

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-brand" style="color: white;" href="#">MUSCIMA database demonstration</p>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="javascript:void(0)" style="color: white;" onclick="homeFunction()">Home</a></li>
        </ul>
    </div>
</nav>

<div class="flex-item fill-area-col flex-item-grow">
    <!-- left part of the page - list of all images with thumbnails -->
    {% include "chooser.html" %}

    <!-- right part with cropping functionality and "find button" -->
    <div class="flex-item flex-item-grow fill-area-content right-column">
        <div class="flex-item">
            <h1 style="text-align: center">Welcome to MUSCIMA project demonstration</h1>
        </div>
        </br>
        <h4 style="text-align: center;">You can do the following steps:</h4>
        <ul style="list-style: none; text-align: center">
            <li>Choose the image.</li>
            <li>Crop the image according to rules.</li>
            <li>Search in the MUSCIMA database for similar part.</li>
        </ul>
    </div>
</div>

{% endblock %}